Django
djangorestframework
djangorestframework-simplejwt
gunicorn                  # WSGI HTTP сервер
drf-spectacular           # для генерации OpenAPI / Swagger
django-filter             # фильтрация данных в DRF
django-cors-headers       
python-dotenv             # для env-файлов
psycopg2-binary           # для PostgreSQL
redis 
djoser                    # готовая реализация регестрации, логина, сброса пароля
Pillow
boto3 
django-storages           # управление S3 хранилищем 