.root {
  padding: 0 5%;
  background: #f7f7f7;
  color: #000;
  padding-top: 88px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pricingcat {
    width: 532px;
    height: 258px;
  }

  .titlePricing {
    text-transform: uppercase;
    color: #000;
    font-size: 48px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    margin-top: -30px;
  }

  .titlePricing span {
    background: linear-gradient(100deg, #e55d87, #66bddf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
